name: Линт

on: workflow_call

jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Настройка Bun
        uses: oven-sh/setup-bun@v2

      - name: Установка зависимостей
        run: bun install

      - name: ESLint
        run: bun --bun run eslint

  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Настройка Bun
        uses: oven-sh/setup-bun@v2

      - name: Установка зависимостей
        run: bun install

      - name: Prettier
        run: bun run prettier
